.mytoolbar {
  -webkit-box-shadow: 0 3px 30px 0 rgba(0,0,0,0.3);
  box-shadow: 0 3px 30px 0 rgba(0,0,0,0.3)!important;
}
.myimg {
  margin-right: 10px;
}
.myBrand {
  font-variant: small-caps;
}
.spacer {
  flex: 1 1 auto;
}