@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Aldrich');
nav {
    background: rgb(18, 49, 69);
    border: none;
    border-radius: 0;
    margin: 0;
    border: none;
    padding: 10px;
    box-shadow: 0px 0px 4px 0px #000000;
}
.navbar {
    padding: 10px;
    margin-bottom: 0;
}

.navbar-brand {
    color:  white;
    font-size: 30px;
    font-family: 'Audiowide', cursive;
}
.navbar-header a:hover {
    color: rgb(18, 49, 69);
}
.sub_brand {
    color: rgb(226, 91, 78);
}
.nav {
    color: white;
    font-family: 'Aldrich', sans-serif;
    font-size: 20px;
}
.nav a {
    color: white;
}

