<mat-toolbar color="dark" class="mytoolbar">  
  <mat-toolbar-row>
    <img src="../favicon.ico" alt="" class="img-responsive myimg">
    <span class="myBrand">Player abal-abal</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    
  </mat-toolbar-row>
</mat-toolbar>
<main [@routerTransition]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
</main>