@import url('https://fonts.googleapis.com/css?family=Aldrich');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Saira');
.jumbotron {
    margin-bottom: 0;
    background: white;
}
.section {
    background: rgb(4, 39, 106);
    height: 100vh;
}
a:hover {
    text-decoration: none;
}
h2 {
    color: white;
    text-align: center;
    font-family: 'Saira', sans-serif;
    font-size: 43px;
}
.myButton {
    width: 140px;
    height: 50px;
    margin: 0 auto;
    margin-top: 68vh;
    background: white;
    font-family: 'Saira', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: rgb(4, 39, 106);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}
.myButton:hover {
    border-radius: 5px;
    cursor: pointer;
}