<div class="jumbotron banner">
    <div class="container">
        <h1>Abal Player</h1>
        <h2>Play music and do nothing</h2>
    </div>
</div>
<div class="jumbotron content_container">
    <div class="container">
        <mat-tab-group class="tabs" color="primary">
            <mat-tab label="Music List">
                <div class="jumbotron music">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="container">
                                    <div class="myCard" id="card1">
                                        <div class="card_head">
                
                                        </div>
                                        <div class="card_body">
                                            
                                        </div>
                                        <div clas="card_footer">
                                            <button mat-raised-button id="1">Play</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="container">
                                    <div class="myCard" id="card2">
                                        <div class="card_head">
                
                                        </div>
                                        <div class="card_body">

                                        </div>
                                        <div clas="card_footer">
                                            <button mat-raised-button id ="2">Play</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="container">
                                    <div class="myCard" id="card3">
                                        <div class="card_head">
                
                                        </div>
                                        <div class="card_body">
                
                                        </div>
                                        <div clas="card_footer">
                                            <button mat-raised-button id="3">Play</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="container">
                                    <div class="myCard" id="card4">
                                        <div class="card_head">
                
                                        </div>
                                        <div class="card_body">
                
                                        </div>
                                        <div clas="card_footer">
                                            <button mat-raised-button id="4">Play</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="container">
                                    <div class="myCard" id="card5">
                                        <div class="card_head">
                
                                        </div>
                                        <div class="card_body">
                
                                        </div>
                                        <div clas="card_footer">
                                            <button mat-raised-button id="5">Play</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Player">
                <div class="jumbotron player_content">
                    <div class="container">
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <h2 id="artist_name">Artist</h2>
        <h3 id="music_name">Music Name</h3>
        <button mat-raised-button id="play_pause" color="primary">
        <mat-icon>play_circle_outline</mat-icon>
            Play
        </button>
        <button mat-raised-button id="stop" color="warn">
            <mat-icon>stop</mat-icon>
            Stop
        </button>
    </div>
</div>
<div class="jumbotron content">
    <div class="container" id="body">
    </div>
</div>